<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<p><%= link_to t(".content1"), Settings.tutorial %> <%= t(".content2") %>
    <%= link_to t(".content3"), Settings.book %> <%= t(".content4") %>
    <%= link_to t(".content5"), Settings.screencasts %> <%= t(".content6") %>
    <%= link_to t(".content7"), Settings.tutorial %>.
  <%= t(".content8") %>
</p>
