<% provide :title, t(".title") %>
<h1><%= t(".title") %></h1>
<p> <%= t(".content1") %>
   <%= link_to t(".content2"), Settings.help %> <%= t(".content3") %>
    <%= link_to t(".content4"), Settings.book %>.
</p>
